<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HighTrain-Server</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #04AA6D;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #04AA6D;
            cursor: pointer;
        }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HighTrain-Server</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Steuerung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Info">Live-Info</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; Powered by Knapp-Industries
        </div>
    </footer>
    <script>
        window.onload = function () {
            init();        
        } 
        var values = [0,1,2,3,4,5,6,7];    //values to step to

        var input = document.getElementById('input'),
            output = document.getElementById('output');

        input.oninput = function () {
            output.innerHTML = values[this.value];
        };
        input.oninput(); //set default value

        function init() {
            var intervalId = setInterval(function () {
                getWarningMsg();
                getErrorMsg();
                getBatteryVal();
                getPosition();
            }, 500);
        }

        function driveTo() {
            var pos = $('#input').val();

            $.ajax({
                type: "Post",
                url: "/Home/Position",
                cache: false,
                data: {
                    position: pos
                }
            }).done();
        }

        function getWarningMsg() {
            $.ajax({
                type: "Get",
                url: "/Home/Warn",
                success: function (data) {
                    $('#data-warn').text(data);
                },
                error: function () {
                    alert("Server down");
                }

            });
        }

        function getErrorMsg() {
            $.ajax({
                type: "Get",
                url: "/Home/Error",
                success: function (data) {
                    $('#data-error').text(data);
                },
                error: function () {
                    alert("Server down");
                }

            });
        }

        function getBatteryVal() {
            $.ajax({
                type: "Get",
                url: "/Home/Battery",
                success: function (data) {
                    $('#data-battery').text(data);
                },
                error: function () {
                    alert("Server down");
                }

            });
        }

        function getPosition() {
            $.ajax({
                type: "Get",
                url: "/Home/Position",
                success: function (data) {
                    $('#data-position').text(data);
                },
                error: function () {
                    alert("Server down");
                }

            });
        }

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
