@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Steuerung</h1>
    <input id="input" type="range" min="0" value="0" max="7" step="1" class="slider">
    <div id="output"></div>
</div>
