@{
    ViewData["Title"] = "Live Info";
}

<div class="text-center">
    <div class="display-4 mt-5">Warnungen:</div>
    <div id="data-warn" class="alert-warning mt-4"></div>

    <div class="display-4 mt-5">Fehler:</div>
    <div id="data-error" class="alert-danger mt-4"></div>

    <div class="display-4 mt-5">Batterie:</div>
    <div id="data-battery" class="alert-success mt-4"></div>
</div>